.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.register-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.table.table.table-striped {
  margin-top: 100px;
}

.profile {
  width: 100%;
  max-width: 900px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.text-center {
  text-align: center;
}

.wrap-width {
  max-width: 300px;
}